{% extends "base.html" %}

{# import 'macros_form.html' as form_macros #}

{% block head_title %}Races{% endblock %}

{% block copy_title %}<a href="{{ api_url }}">{{ api_url }}</a>{% endblock %}

{% block content %}

    <div class="container">
      <div class="row">
        <div class="col-lg">

            <h1>Leverage Races</h1>
            <ul>
{% for race in races %}
              <li><a href="{{ url_for('.race', race_slug=race['slug']) }}">{{ race['race_name'] }}{% if race['race_district'] %} - {{ race['race_district'] }}{% endif %}</a></li>{% endfor %}
            </ul>

        </div>
      </div>
    </div>


{% endblock %}